.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem;
  }
}

.buttons {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
  /* 下面这个一般不生效，解决了有些浏览器不兼容按钮样式的问题 */
  border: #ebedf0;
  background: #ebedf0;
  border-radius: 0.4rem;
}
