.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  background: #3CA55A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #B5AC49, #3CA55A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #B5AC49, #3CA55A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
  color: #3CA55A;
}