/* 分界线分界线分界线分界线分界线分界线分界线分界线分界线分界线分界线分界线分界线 */
@media (max-width: 575px) {
  .backgroundLight {
    width: 200px;
    height: 300px;
  }
}

.backgroundLight {
  z-index: -10;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1.5);
  -moz-transform: translateX(-50%) scale(1.5);
  -ms-transform: translateX(-50%) scale(1.5);
  transform: translateX(-50%) scale(1.5);
  width: 600px;
  height: 400px;
  opacity: 0.2;
  -webkit-filter: blur(69px);
  filter: blur(69px);

  background: linear-gradient(
    100deg,
    #722ed1 0%,
    #f5222d 20%,
    #1677ff 60%,
    #13c2c2 100%
  );
}

/* 分界线分界线分界线分界线分界线分界线分界线分界线分界线分界线分界线分界线分界线 */
.topBanner {
  font-size: 20px;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topBannerTitle {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

@media only screen and (max-width: 768px) {
  .topBannerTitle {
    font-size: 34px;
  }
}

.topBannerTitleText {
  background: linear-gradient(45deg, #399cff, #00c775 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

html[data-theme="dark"] .topBannerTitleText {
  background: linear-gradient(45deg, #399cff, #00ff95 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
