.features {
  display: flex;
  align-items: center;
  padding: 0 0 2rem 0;
  width: 100%;
}

.spacing {
  padding: 3rem 0 0 0;
}

.featureSvg {
  height: 200px;
  width: 200px;
  /* 宽度自适应 */
  width: fit-content;
  /* 宽度比内容稍长,上左下右 */
  padding: 5px 40px 1px 40px;
  /* 背景色 */
  background: var(--ifm-color-emphasis-200);
  /* 圆角 */
  border-radius: 1rem;
}

.titleTop {
  display: block;
  align-items: center;
  justify-content: center;
  /* 宽度自适应 */
  width: fit-content;
  /* 水平居中 */
  margin: 2px auto;
  /* 宽度比内容稍长,上左下右 */
  padding: 10px 50px 15px 50px;
  /* 背景色 */
  background: var(--ifm-color-emphasis-200);
  /* 圆角 */
  border-radius: 0.7rem;
}

.title {
  display: block;
  align-items: center;
  justify-content: center;
  /* 宽度自适应 */
  width: fit-content;
  /* 水平居中 */
  margin: 2px auto;
  /* 宽度比内容稍长,上左下右 */
  padding: 15px 30px 1px 30px;
  /* 背景色 */
  background: var(--ifm-color-emphasis-200);
  /* 圆角 */
  border-radius: 0.7rem;
}

.description {
  display: block;
  align-items: center;
  justify-content: center;
  /* 宽度自适应 */
  width: fit-content;
  /* 水平居中 */
  margin: 10px auto;
  /* 宽度比内容稍长,上左下右 */
  padding: 20px 20px 1px 20px;
  /* 背景色 */
  background: var(--ifm-color-emphasis-200);
  /* 圆角 */
  border-radius: 0.8rem;
}
