.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
  /* 背景色 */
  background: var(--ifm-color-emphasis-400);
  /* 宽度比内容稍长,上左下右 */
  padding: 5px 40px 1px 40px;
  /* 宽度自适应 */
  width: fit-content;
  /* 圆角 */
  border-radius: 1rem;
}

.titleTop {
  /* 水平居中 */
  margin: 2px auto;
  /* 背景色 */
  background: var(--ifm-color-emphasis-200);
  /* 宽度比内容稍长,上左下右 */
  padding: 10px 50px 15px 50px;
  /* 宽度自适应 */
  width: fit-content;
  /* 水平居中 */
  margin: 2px auto;
  /* 圆角 */
  border-radius: 0.7rem;
}
