/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/* 手机端不显示背景视频 */
/* @media screen and (max-width: 996px) {
.backgroundVideo{content-visibility: hidden; display:none; }
}
 */

.backgroundVideo {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0px;
  padding: 0px;
  z-index: -99;
  /*裁剪视频多余部分*/
  overflow: hidden;
  /*保证视频充满屏幕*/
  object-fit: cover;
}
