.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: var(--homePage-custom-background);
}

:root {
  --homePage-custom-background: rgba(17, 153, 17, 0.7);
}
[data-theme='dark'] {
  --homePage-custom-background: rgba(64, 192, 64, 0.7);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    /* 手机端的界面组件到屏幕边缘的空隙 */
    padding: 1rem;
  }
}

/* 分界线分界线分界线分界线分界线分界线分界线分界线分界线分界线分界线分界线分界线分界线分界线 */
.buttons {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
  /* 下面这个一般不生效，解决了有些浏览器不兼容按钮样式的问题 */
  border: #ebedf0;
  background: #ebedf0;
  border-radius: 0.4rem;
}
