* {
  box-sizing: border-box;
}
div {
  display: block;
}
.sectionAlt_XiGz {
  background-color: #f5f6f7;
}
.section_rC2D {
  padding: 72px 0;
}
.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 1140px;
  width: 100%;
}
.text--center {
  text-align: center;
}
.margin-bottom--lg {
  margin-bottom: 2rem !important;
}
h2 {
  font-size: 1.5rem;
  color: inherit;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  line-height: 1.25;
  margin: 0 0 1rem 0;
  display: block;

  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
.col[class*="col--"] {
  flex: 0 0 33.33333%;
}
.col--4 {
  --ifm-col-width: 33.33333%;
}
.col {
  --ifm-col-width: 100%;
  flex: 1 0;
  margin-left: 0;
  max-width: 33.33333%;
  padding: 0 1rem;
  width: 100%;
}
.tweetsSection_Fqsy > .col > * {
  margin-bottom: 2rem;
}
.tweet_x2tn {
  font-size: 15px;
}
.card {
  background-color: #fff;
  border-radius: 0.8rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card__header:not(:last-child) {
  padding-bottom: 0;
}
.card__body,
.card__footer,
.card__header {
  padding: 1rem 1rem;
}
.card__header > :last-child {
  margin-bottom: 0;
}
.avatar {
  column-gap: 1rem;
  display: flex;
}
.avatar__photo {
  border-radius: 50%;
  display: block;
  height: 3rem;
  overflow: hidden;
  width: 3rem;
}
img {
  max-width: 100%;
}
.tweetMeta_fAxr {
  color: #606770;
}
.avatar__intro {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: center;
  text-align: inherit;
}
.tweetMeta_fAxr strong {
  color: #1c1e21;
}
.avatar__name {
  font: 700 1rem/1.25 system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
